@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	font-family: 'poppins', sans-serif;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: linear-gradient(to right, #7f53ac, #657ced);
	background-attachment: fixed;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    align-items: center;
    display: flex;
}

.container {
	min-width: 580px;
	border-radius: 5px;
	padding-bottom: 3%;
	background: white;
	display: grid;
	justify-items: center;
}

.container img{
	width: 20%;
}

.container h3 {
	margin-top: -4%;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
}

.container p {
	font-weight: 400;
}

.container form {
    text-align: center;
}

.container input {
	width: 90px;
	margin-left: 15px;
	margin-top: 30px;
	border-radius: 5px;
	border: 2px solid #202020;
	padding: 20px;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	color: #663399;
	-moz-appearance: textfield;
}

.container input::-webkit-outer-spin-button, .container input::-webkit-inner-spin-button
	{
	-webkit-appearance: none;
}

.btn-set button {
	width: 120px;
	margin-top: 20px;
	margin-bottom: 30px;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: large;
	color: white;
	background-color: #663399;
}

.btn-set button:hover {
	background-color: rgba(255, 102, 0, 0.7);
	cursor: pointer;
}